body {
    background: linear-gradient(to right top, #e28abc, #d78ecb, #c893d8, #b699e3, #a09fec, #8aaaf6, #71b5fd, #56bfff, #38d0ff, #28dfff, #3beefb, #5ffbf1);
    width: 100vw;
    height: 100vh;
    
}

p {
    text-align: center;
}

#objects {
    position: relative;
    border: 5px solid;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

#nana {
    position: absolute;
    height: 500px ;
    width: 400px;
    cursor: pointer;
}
#pacifier {
    position: relative;
    width: 800px;
    height: 800px;
    cursor: pointer;
}

#paci {
    position: relative;
    width: 800px;
    height: 800px;
    cursor: pointer;
}

#guitare {
    height: 400px ;
    width: 300px;
    cursor: pointer;
}

#apple {
    position: relative;
    width: 400px;
    height: 400px;
    cursor: pointer;
}

#pomme {
    position: relative;
    width : 300px;
    height: 300px;
    cursor: pointer;
}

#guitar {
    position: relative;
    height: 800px;
    width: 800px;
    cursor: pointer;
}
#firetruck {
    position: relative;
    height: 800px;
    width: 800px;
    cursor: pointer;
}
#firemen {
    width: 800px;
    cursor: pointer;
}
#firemen:hover{
    transform: scale(1.3);
}

#car {
    position: relative;
    height: 800px;
    width: 800px;
    cursor: pointer;
}
#milk {
    position: relative;
    height: 800px;
    width: 800px;
    cursor: pointer;
}
#guitar {
    position: relative;
    height: 800px;
    width: 800px;
    cursor: pointer;
}
/* #banana {
    position: absolute;
    height: 800px;
    width: 800px; */
/* } */
#drums {
    position: absolute;
    height: 800px;
    width: 800px;
}
#phone {
    position: absolute;
    height: 800px;
    width: 800px;
}
#computer {
    position: absolute;
    height: 800px;
    width: 800px;
}
#dog {
    position: absolute;
    height: 800px;
    width: 800px;
}
#cat {
    position: absolute;
    height: 800px;
    width: 800px;
}
#shoes {
    position: absolute;
    height: 800px;
    width: 800px;
}
#hat {
    position: absolute;
    height: 800px;
    width: 800px;
}#ball {
    position: absolute;
    height: 800px;
    width: 800px;
}

